header 
    .header
        a(hrev='#')
            img(src='images/logo.svg')
        nav
            ul.nav
                li.nav-item
                    a(href='').nav-link.active Home
                li.nav-item
                    a(href='').nav-link.active TV shows
                li.nav-item
                    a(href='').nav-link.active Movies
                li.nav-item
                    a(href='').nav-link.active Series
            ul.control
                li.control.item
                    button.control-btn.control-btn_search
                li.control.item
                    button.control-btn.control-btn_notice
                li.control.item
                    button.control-btn.control-btn_account