- let pageTitle = 'TV'
doctype html
html(lang="en")
  head
    title= pageTitle
    style 
      include styles/style.css
  body
    include modules/header
    h1 Pug - node template engine
    h1 footer